<?xml version="1.0" encoding="utf-8"?><!--
  ~ C:/Users/Aliaksei/AndroidStudioProjects/SignOutSystem/app/src/main/AndroidManifest.xml was created by Aliaksei Pilko as part of SignOutSystem
  ~ Copyright (c) Aliaksei Pilko 2017.  All Rights Reserved.
  ~
  ~ Last modified 23/04/17 20:38
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliakseipilko.signoutsystem">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".Activities.SelectionActivity"
            android:label="Selection"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.IdleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.FirstLaunch"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".Services.OnBootService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Helpers.AdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Services.PersistService"
            android:enabled="true" />

        <activity
            android:name=".Activities.ManageSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_manage_search"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aliakseipilko.signoutsystem.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ManageResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_manage_results"
            android:parentActivityName=".Activities.ManageSearchActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aliakseipilko.signoutsystem.Activities.ManageSearchActivity" />
        </activity>
        <activity
            android:name=".Activities.ManageUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_manage_user"
            android:parentActivityName=".Activities.ManageSearchActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aliakseipilko.signoutsystem.Activities.ManageSearchActivity" />
        </activity>
    </application>

</manifest>